<html>

<head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin=anonymous></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    {% raw %}
    <div id="app">
        {{svg}}

        <h2>{{graphs.name}}</h2>
        <div v-for="(item, index) in graphs.analog" style="width: 100%;">
            <div style="width: 100%;">
                <H5>{{item}}</H5>
                <object type="image/svg+xml" v-bind:data="'/getgraph/1/'+index+'/analog'" class="logo" style="width: 100%; height:305px"> 
                   
                </object>
            </div>

        </div>
        <div v-for="(item, index) in graphs.digital" style="width: 100%;">
            <div style="width: 100%;">

                <object type="image/svg+xml" v-bind:data="'/getgraph/1/'+index+'/digital'" class="logo" style="width: 100%; height:305px"> 
                   
                </object>
            </div>

        </div>
    </div>
    {% endraw %}
    <div>

    </div>
    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://unpkg.com/vue "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js "></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js "></script>
    <script>
        let graphData;
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    graphs: null,
                    svg: null
                };
            },

            mounted() {
                axios
                    .get('/getgraph/1')
                    .then(response => (this.graphs = response.data))
            }
        })
    </script>
</body>

</html>